<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Previsão de Emprestimo - Machine Learning Demonstração Grafico </title>

  </head>
  <body>

	<div class="container">
		 

		
		<!-- {% if classe %} -->
			{% if classe == "1" %}

				<div style="display:table-cell; vertical-align:middle; text-align:center">
					<h1>Quadrante refente notas de desafio atual</h1>	
					<img src="static/grafico.jpeg" width="600" height="350" align="center">
				</div>
				
			{% endif %}
		<!-- {% endif %} -->
	<!-- FIM DO CONTAINER-->
	</div>
	
	
		<!-- Optional JavaScript -->
		<!-- onkeyup="formatarMoeda2();" -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
  
  </body>
  
  
  
</html>